<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
      <div class="container-form  log-reg">
        <div class="row">
          <form action="/user/admin/edit/<%= user.id %>?_method=PATCH" METHOD="POST" class="publish" id="form"  enctype="multipart/form-data">
              <div>
                <h5>Edición de Usuario: <%= user.user_name %> </h5>
              </div>
              <% if (user.avatar) { %>
                  <div class="img_update">
                    <img src="../../../images/avatars/<%= user.avatar %>" alt="avatar del usuario">
                </div>
                <% } %>

            <div id="first_name" class="col-1">
              <label for="first_name">Nombre/s</label>
              <div>
                <input type="text" class="txt_input" name="first_name" id="first_name" value="<%=user.first_name%>">
              </div>
              <% if (locals.errors && errors.first_name) { %>
                <div class="text-danger">
                  <%= errors.first_name.msg %>
                </div>
                <% } %>
            </div>
            <div id="last_name" class="col-1">
              <label for="last_name">Apellido/s</label>
              <div>
                <input type="text" class="txt_input" name="last_name" id="last_name"  value="<%=user.last_name%>">
              </div>
              <% if (locals.errors && errors.last_name) { %>
                <div class="text-danger">
                  <%= errors.last_name.msg %>
                </div>
                <% } %>
            </div>
            <div id="address" class="col-1">
              <label for="address">Dirección</label>
              <div class="container_input">
                <input type="text" class="txt_input" name="address" id="address" <% if (user.address) { %> value="<%=user.address%>" <% } %> placeholder="Calle # - CP - Localidad" >
              </div>
              <% if (locals.errors && errors.address) { %>
                <div class="text-danger">
                  <%= errors.address.msg %>
                </div>
                <% } %>
            </div>
            
            <div id="avatar" class="col-1">
              <label for="profile">¿Deseas cambiar tu Avatar?</label>
              <input type="file" name="avatar">
            </div>
            <input type="submit" class="ok-input" value="Actualizá tu información">
          </form>
        </div>
      </div>
      <%- include('./partials/footer') %>
  </body>

</html>