<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <div class="container-admin">
        
          <div class="row-admin">
            <div class="card_img">
              <img src="../../../images/avatars/<%=user.avatar%>" alt="">
            </div>
            <div class="card">
              <h4>
                <%= user.user_name %>
              </h4>
              <p>Nombre completo: <%= user.first_name + " " + user.last_name%>
              </p>
              <p>Correo electrónico: <%= user.email %>
              </p>
              <p>Dirección: <%= user.address %>
              </p>
              <p>Teléfono: <%= user.tel %>
              </p>
            </div>
            <div class="admin">
              <form action="/user/admin/delete/<%=user.id%>?_method=DELETE" method="POST">
                <input type="submit" value="Borrar" class="admin danger">
              </form>
              <a href="/user/admin/edit/<%=user.id%>"><input type="submit" value="Editar" class="admin ok"></a>
              </form>
            </div>
          </div>
      </div>
      <%- include('./partials/footer') %>
  </body>

</html>