<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
        <main>
            <div class="container-detail mt5">
                    <% for ( let i = 0 ; i<products.length ; i++) { %>
                        <div class="row-product mb5">
                            <div class="col-1">
                                <div class="product-img-small">
                                    <img src="/images/products/<%=products[i].image%>" alt="foto del producto <%=products[i].name%>">
                                </div>
                                <div class="product">
                                    <h5 class="product-name">
                                        <%=products[i].name%>
                                    </h5>
                                    <div class="vendor-data">
                                        <p><span class="seller">Vendedor: <%=users[i].user_name%></span></p>
                                    </div>
                                    <form action="" class="quantity">
                                        <span>Cantidad: <% products[i].quantity %> </span>
                                        <% if ( products[i].quantity > 1 ) { %>
                                            <button type="button" class="quantity-selector">
                                                <select class="select-input" name="quantity" id="quantity">
                                                    <% for (let i=0 ; i< 15 ; i++) { %>
                                                        <option value="<%=i%>">
                                                            <%=i%>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </button>
                                            <% } %> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    <% } %> 

                    <div class="row-product mb5 pay-opt">
                        <div class="col-20 shipment">
                        <form action="#">
                            <h6>Selecciona el método de envío</h6>
                            <label for="shipment"> 
                                <select class="select-input" name="shipment" id="shipment">
                                    <option value="correo-arg">Correo Argentino</option>
                                    <option value="oca">OCA</option>
                                    <option value="moto">Moto en el día</option>
                                </select>
                            </label>
                        </form>
                        </div>
                        <div class="col-20 payment">

                            <form action="#">
                                <h6> Selecciona la forma de pago</h6>
                                <label for="payment">
                                    <select class="select-input" name="payment" id="payment">
                                        <option value="cc">Tarjeta de credito</option>
                                        <option value="cc">Efete</option>
                                        <option value="mp">Mercado Pago</option>
                                        <option value="paypal">Pay Pal</option>
                                    </select>
                                </label>
                            </form>
                        </div>
                    </div>

                    <div class="row-sell">
                        <div class="col-1">
                            <p> Total: $ <%=total_price%> </p>
                        </div>
                        <div class="col-1">
                        <form action="/cart/checkout" method="post">
                            <input type="hidden" value=<%=products%> name="products">
                            <input type="hidden" value=<%=total_price%> name="total_price">
                            <input type="submit" value="Comprar">
                        </form>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('./partials/footer') %>

    </body>

</html>