<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
    <body>
        <%- include('./partials/header') %>
            <div class="ubication-product-detail box-in-site">
                Repuestos > Motor > Bujias (listado)
            </div>
            <!-- <div class="car-image-banner">
                <img src="../../../images/productDetail/car-photo.jpg" alt="Imagen del auto">
            </div> -->
            <div class="container-detail">
                <div class="row-product mb5">
                        <div class="col-1">
                            <div class="car-brand">
                                <img src="../../../images/products/<%=product.image%>" alt="<%=product.image%>">
                            </div>
                                <div class="product">
                                    <h5 class="product-name"><%= product.name %> </h5>
                                    <div>
                                        <div class="product-info">
                                            <p>Marca: <%= product.brand %> </p>
                                            <p>Modelo: <%= product.piecenumber %> </p>
                                            <p>Original: <% if (product.original) {%> Si <%} else{ %> No <% } %> </p>
                                            <p>Descripción: <%= product.description %> </p>
                                            <% if (product.carBrand !=null ) { %> 
                                            <p>Para vehículos marca: <%= product.carBrand %> </p>
                                                <% } %> <% if (product.carModel !=null) { %> 
                                            <p>Modelos: <%= product.carModel %>
                                                <%} if (product.carYear !==null) { %>
                                                        <%= product.carYear %> </p> <% } %>
                                        </div>
                                    </div>

                                    <form action="" class="quantity">
                                        <span>Cantidad:</span>
                                        <% if ( product.quantity> 1 ) { %>

                                            <button type="button" class="quantity-selector">
                                                <select class="select-input" name="quantity" id="quantity">
                                                    <% for (let i=1 ; i <= product.quantity ; i++) { %>
                                                        <option value="<%=i%>">
                                                            <%=i%>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </button>
                                            <% } else { %>
                                                <span>No hay Stock disponible</span>
                                                <% } %>
                                    </form>
                                </div>
                            </div>
                        </div>
                <div class="row-product">
                        <div class="col-1">
                            <div class="buy-options">
                                <div class="costs">
                                    <p class="product-value">$ <%= product.price %><span class="on-12-cuotes">($ <%= product.price/12 %> en 12 cuotas sin interés)</span></p>
                                    <% if ( product.quantity>0 ) { %>
                                        <p class="bold">Stock disponible</p>
                                    <% } %>
                                </div>
                                <div class="buttons-buy">
                                    <button type="submit" class="buy-button">Comprar $</button>
                                    <button type="submit" class="add-to-cart-button">Agregar al carrito</button>
                                </div>
                            </div>
                            <div class="contact">
                                <p class="bold">¿Tenés dudas sobre el producto?</p>
                                <button type="submit">Contactate con el vendedor</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-detail container-related">
                    <h6 class="related-art"> Artículos relacionados</h6>
                    <div class="row-product mb-5 row-related">
                            <div class="col-3 in-related">
                                <img src="../../../images/productDetail/audi-logo.png" alt="Sensor-detonacion">
                                <p>Sensor de detonación</p>
                            </div>
                            <div class="col-3 in-related">
                                <img src="../../../images/productDetail/audi-logo.png" alt="Sensor-estacionamiento">
                                <p>Sensor de estacionamiento</p>
                            </div>
                            <div class="col-3 in-related">
                                <img src="../../../images/productDetail/audi-logo.png" alt="Sonda-lambda">
                                <p>Sonda lambda</p>
                            </div>
                    </div>
                </div>

                <% if (locals.isAdmin || locals.user.id == product.user ) { %> 
                    <div class="admin">
                    <form action="/product/admin/delete/<%=product.id%>?_method=DELETE" method="POST">
                      <input type="submit" value="Borrar" class="admin danger">
                    </form>
                    <a href="/product/edit/<%=product.id%>"><input type="submit" value="Editar" class="admin ok"></a>
                    <% } %> 

            <%- include('./partials/footer') %>
    </body>
</html>