<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <br>
      <div class="container-form">
        <!-- <h2>Creación de producto</h2> -->
        <div class="row">

           <form action="/product/edit/<%= product.id %>?_method=PATCH" METHOD="POST" name="publicationForm" class="publish" id="form" enctype="multipart/form-data">
            <h5>¡Crea tu publicación!</h5>
            

            <div class="col-1">
              <label for="name">Nombre del producto</label>
              <input type="text" class="txt_input" name="name" id="name" placeholder="Kit Cree Led S6 Plus / S20" value="<%= product.name %>" required>
            </div>

            <div class="col-1">
              <label for="description">Descripción</label>
              <textarea type="text" class="text-area-input" name="description" id="description" placeholder="Ingresa una descripción atractiva para tus clientes" required><%= product.description %></textarea>
            </div>

            <div class="col-1">
              <label for="price">Precio AR$</label>
              <input type="number" class="txt_input" name="price" id="price" value="<%= product.price %>" required>
            </div>


            <div class="col-1">
              <label for="categorie">Categoria</label>
              <select class="select-input" name="categorie" id="categorie" placeholder="Selecciona una categoría de producto" required>
                <option>Seleccionar</option>
                <option value="motor"<% if ( product.category == 1 ) { %> selected <% } %> >Motor</option>
                <option value="interior"<% if ( product.category == 2 ) { %> selected <% } %> >Interior</option>
                <option value="exterior"<% if ( product.category == 3 ) { %> selected <% } %> >Exterior</option>
                <option value="accesories"<% if ( product.category == 4 ) { %> selected <% } %> >Accesorios</option>
              </select>

            </div>

            <div class="col-1">
              <label for="quantity">Cantidad</label>
              <select class="select-input" name="quantity" id="quantity" placeholder="Disponibles" required>
                <% for (let i=0 ; i < 99 ; i ++) { %>
                  <option value="<%= i %>" <% if ( product.quantity == i ) { %> selected <% } %> >
                    <%=i%>
                  </option>
                  <% } %>
              </select>
            </div>

            <div class="col-1">
              <label for="image">Subí tus imágenes</label>
              <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">
              <div> <img src="/images/products/<%=product.image%>" alt="Imagen del producto" width=150px> </div>
            </div>

            <div class="col-1">
              <h5>Opcionales</h5>
            </div>

            <div class="col-1">
              <label for="brand">Marca del producto</label>
              <input type="text" class="txt_input" name="brand" <% if (product.carBrand != "") { %> value="<%= product.carBrand %>" <% } %> >
            </div>

            <div class="col-1">
              <label for="original">¿Es original?</label>
              <select class="select-input" name="original">
                <option value="1" <% if (product.original) {%> selected <% } %> >Sí</option>
                <option value="0" <% if (!product.original) {%> selected <% } %> >No</option>
              </select>
            </div>


            <div class="col-1">
              <label for="">Número de pieza</label>
              <input type="text" class="txt_input" name="piecenumber" <% if (product.piecenumber != "") { %> value="<%= product.piecenumber %>" <% } %> >
            </div>

            <div class="col-1">
              <label for="carBrand">Marca del auto</label>
              <input type="text" class="txt_input" name="carBrand" <% if (product.carBrand != "") { %> value="<%= product.carBrand %>" <% } %> >
            </div>

            <div class="col-1">
              <label for="carModel">Modelo del auto</label>
              <input type="text" class="txt_input" name="carModel" <% if (product.carModel != "") { %> value="<%= product.carModel %>" <% } %> >
            </div>

            <div class="col-1">
              <label for="carYear">Año</label>
              <input type="text" class="txt_input" name="carYear" <% if (product.carYear != "") { %> value="<%= product.carYear %>" <% } %> >
            </div>

              <input type="submit" value="Publicar">
          </form>
        </div>
      </div>
        <%- include('./partials/footer') %>
  </body>

</html>