<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>

    <!-- Seccion productos-->
    <main>
      <div class="container">
        <div class="sort">
          <div class="collection-sort">
            <label>Filtrar por:</label>
            <select>
              <option value="/">Todos los Repuestos</option>
            </select>
          </div>

          <div class="collection-sort">
            <label>Ordenar por:</label>
            <select>
              <option value="/">Categoria</option>
            </select>
          </div>
        </div>

        <div class="row-all">
          <% products.forEach(product=> { %>
          <div class="col-4">
            <% if (locals.user.id == product.id ) {%> <span>ESTE ES TU PRODUCTO</span> <% } %> 
            <a class="productLink" href="/product/detail/<%=product.id%>">
              <div class="image">
                <img src="/images/products/<%=product.image%>" alt="" />
              </div>
              <div class="main-txt-product">
                <div class="text-img">
                  <h4><%= product.name %></h4>
                  <p>$<%= product.price %></p>
                </div>
              </a>
                <div class="text-button">
                  <form method="GET" action="/cart/add/<%=product.id%>">
                    <button class="addToCartButton">Agregar<i class="fas fa-cart-plus"></i></button>
                  </form>
                </div>
              </div>
          </div>
          <% } ) %>
        </div>
      </div>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
