<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <div class="container-admin">
        
          <div class="row-admin">
            <div class="card_img">
              <img src="../../../images/avatars/<%=user.avatar%>" alt="avatar del usuario">
            </div>
            <div class="card">
              <h4> Hola <%= user.user_name %> ! </h4>
              <p>Tus datos:</p>
              <p>Nombre completo: <%= user.first_name + " " + user.last_name %> 
              </p>
              <p>Correo electrónico: <%= user.email %>
              </p>
              <p>Dirección: <%= user.address %>
              </p>
            </div>
            <div class="admin">
              <a href="/user/edit/<%=user.id%>"><input type="submit" value="Editar" class="admin ok"></a>
              </form>
            </div>
          </div>
          <div class="row-admin">
            <div class="card">
              <h4>Compras:</h4>
              <% orders.forEach( order => { %>
                <p>Pedido ID N°: <%= order.id %></p>
                <p>Valor: <%= order.total_price %></p>
              <% }) %> 
            </div>
          </div>
      </div>
      <%- include('./partials/footer') %>
  </body>

</html>