<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <br>
      <div class="container-form">
        <!-- <h2>Creación de producto</h2> -->
        <div class="row">

           <form action="/product/publicar" METHOD="POST" class="publish" id="form" enctype="multipart/form-data">
            <h5>¡Crea tu publicación!</h5>
            <div class="col-1">
              <label for="name">Nombre del producto</label>
              <input type="text" class="txt_input" name="name" id="name" placeholder="Kit Cree Led S6 Plus / S20" required>

              <!-- ejs validaciones-->
              <% if (locals.errors && errors.name) { %>
                <div class="text-danger">
                  <%= errors.name.msg %>
                </div>
              <% } %>
              <!-- ejs validaciones-->
            </div>

            <div class="col-1">
              <label for="description">Descripción</label>
              <textarea type="text-area" class="text-area-input" name="description" id="description" placeholder="Ingresa una descripción atractiva para tus clientes"required></textarea>
              <!-- ejs validaciones-->
              <% if (locals.errors && errors.description) { %>
                <div class="text-danger">
                  <%= errors.description.msg %>
                </div>
              <% } %>
              <!-- ejs validaciones-->
            </div>

            <div class="col-1">
              <label for="price">Precio AR$</label>
              <input type="number" class="txt_input" name="price" id="price" required>
              <!-- ejs validaciones-->
              <% if (locals.errors && errors.price) { %>
                <div class="text-danger">
                  <%= errors.price.msg %>
                </div>
              <% } %>
              <!-- ejs validaciones-->
            </div>

            <div class="col-1">
              <label for="categorie">SARAZACategoria</label>
              <select class="select-input" name="categorie" id="categorie" placeholder="Selecciona una categoría de producto" required>
                <option >Seleccionar</option>
                <option value="1">Motor</option>
                <option value="2">Interior</option>
                <option value="3">Exterior</option>
                <option value="4">Accesorios</option>
              </select>
              <!-- ejs validaciones-->
              <% if (locals.errors && errors.categorie) { %>
                <div class="text-danger">
                  <%= errors.categorie.msg %>
                </div>
              <% } %>
              <!-- ejs validaciones-->
            </div>

            <div class="col-1">
              <label for="quantity">Cantidad</label>
              <select class="select-input" name="quantity" id="quantity" placeholder="Disponibles" required>
                <% for (let i=1 ; i < 99 ; i ++) { %>
                  <option value="<%=i%>">
                    <%=i%>
                  </option>
                  <% } %>
              </select>
              <!-- ejs validaciones-->
              <% if (locals.errors && errors.quantity) { %>
                <div class="text-danger">
                  <%= errors.quantity.msg %>
                </div>
              <% } %>
              <!-- ejs validaciones-->
            </div>
            <div class="col-1">
              <label for="original">Subí tus imágenes</label>
              <input type="file" name="product_img" id="image" multiple>
            </div>
            <div class="col-1">
              <h5>Opcionales</h5>
            </div>
            <div class="col-1">
              <label for="brand">Marca del producto</label>
              <input type="text" class="txt_input" name="brand" placeholder="SKF, Akrapovich">
            </div>
            <div class="col-1">
              <label for="original">¿Es original?</label>
              <select class="select-input" name="original">
                <option value="yes">Sí</option>
                <option value="no">No</option>
              </select>
            </div>

            <div class="col-1">
              <label for="">Número de pieza</label>
              <input type="text" class="txt_input" name="piecenumber" placeholder="### ####### ####">
            </div>
            <div class="col-1">
              <label for="carBrand">Marca del auto</label>
              <input type="text" class="txt_input" name="carBrand" placeholder="Volskwagen">
            </div>
            <div class="col-1">
              <label for="carModel">Modelo del auto</label>
              <input type="text" class="txt_input" name="carModel" placeholder="Scirocco">
            </div>
            <div class="col-1">
              <label for="carYear">Año</label>
              <input type="text" class="txt_input" name="carYear" placeholder="2013-2015">
            </div>

              <input type="submit" value="Publicar">
          </form>
        </div>
      </div>
        <%- include('./partials/footer') %>
  </body>

</html>